RAILS_ENV=production
POSTGRES_HOST=localhost
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=<local password>
POSTGRES_DATABASE=lyn_commerce_e2e
REDIS_URL=redis://localhost:6379/12
SECRET_KEY_BASE=<openssl rand -hex 64>
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=<openssl rand -hex 16>
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=<openssl rand -hex 16>
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=<openssl rand -hex 16>
COMMERCE_TRUSTED_STORE_HOSTS=localhost
FRONTEND_URL=http://localhost:3100
RAILS_LOG_TO_STDOUT=true
ACTIVE_STORAGE_SERVICE=local
ENABLE_ACCOUNT_SIGNUP=false
PORT=3100
TZ=UTC
